img {
    width: 100%;
}
span {
    /* 半端な改行を防止 */
    display: inline-block;
}
.app-base {
    height: 100%;
}
.app-header {
    box-sizing: border-box;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 12px;
    background-color: rgba(97, 47, 12, 0.7);
    color: white;
    z-index: 11;
}
.app-header-dummy {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 245, 225);
}
.app-header-center {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0px;
    z-index: 11;
    font-size: 12px;
}
.app-header-ham {
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    text-align: center;
    position: fixed;
    font-size: 24px;
    z-index: 111;
}
.app-menu {
    background-color: white;
    position: fixed;
    width: 100%;
    transition: all 1s 0s ease;
    text-align: center;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 111;
}
.app-body {
    transition: all 1s 0s ease;
}
.app-title {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    padding-top: 32px;
    padding-left: 24px;
}
.shopname {
    font-family: 超極細ゴシック体;
    font-size: 32px;
    margin-right: 12px;
}
.shopname-before, .shopname-after {
    font-family: 超極細ゴシック体;
    font-size: 20px;
    margin-right: 12px;
}
.shopname-body {
    width: 100%;
    text-align: center;
}
/* .catchcopy {
    font-family: 超極細ゴシック体;
    font-size: 16px;
} */
.app-title-bar {
    width: 80%;
    margin: auto;
    margin-bottom: 32px;
}
.app-heading {
    width: 100%;
    margin: auto;
}
.app-heading-message {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
    background-color: rgba(97, 47, 12, 0.4);
    color: white;
    z-index: 1;
}
.app-heading-message-dummy {
    height: 40px;
}
.app-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-title {
    font-size: larger;
    font-weight: lighter;
}
.nav-title-bar {
    margin-top: 5px;
    margin-bottom: 10px;
}
.nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-item-card {
    height: 50px;
    width: 130px;
    margin: 8px
}
ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 16px;
}
li {
    margin-bottom: 15px;
}