img {
    width: 100%;
}
span {
    /* 半端な改行を防止 */
    display: inline-block;
}
.app-base {
    height: 100%;
}
.app-header {
    box-sizing: border-box;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 12px;
    background-color: rgba(97, 47, 12, 0.7);
    color: white;
    z-index: 11;
}
.app-header-dummy {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 245, 225);
}
.app-header-center {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0px;
    z-index: 11;
    font-size: 12px;
}
.app-header-ham {
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    text-align: center;
    position: fixed;
    font-size: 24px;
    z-index: 111;
}
.ham-button {
    transition: all 0.5s 0s ease;
}
.app-menu {
    background-color: white;
    position: fixed;
    width: 100%;
    transition: all 1s 0s ease;
    text-align: center;
    overflow-y: scroll;
    box-sizing: border-box;
    z-index: 111;
}
.app-body {
    transition: all 1s 0s ease;
}
.app-title {
    box-sizing: border-box;
    width: 95%;
    margin: auto;
    padding-top: 32px;
    padding-left: 24px;
}
.shopname {
    font-family: 超極細ゴシック体;
    font-size: 32px;
    margin-right: 12px;
}
.shopname-before, .shopname-after {
    font-family: 超極細ゴシック体;
    font-size: 20px;
    margin-right: 12px;
}
.shopname-body {
    width: 100%;
    text-align: center;
}
.app-title-bar {
    width: 80%;
    margin: auto;
    margin-bottom: 32px;
}
.見出しエリア {
    width: 95%;
    margin: auto;
}
.見出し {
    font-family: 超極細ゴシック体;
    font-size: 24px;
    margin: 0 auto 24px;
    color: rgba(97, 47, 12, 1);
    border-left: 4px solid rgba(97, 47, 12, 0.7);
    border-bottom: 1px solid rgba(97, 47, 12, 0.7);
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
}
.app-heading {
    width: 100%;
    margin: 0px auto 0px;
}
.app-heading-message {
    position: absolute;
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 12px;
    background-color: rgba(97, 47, 12, 0.4);
    color: white;
    z-index: 1;
}
.app-heading-message-dummy {
    height: 40px;
}
.app-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-title {
    font-size: larger;
    font-weight: lighter;
}
.nav-title-bar {
    margin-top: 5px;
    margin-bottom: 10px;
}
.nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-item-card {
    height: 50px;
    width: 130px;
    margin: 8px
}
ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 16px;
}
li {
    margin-bottom: 15px;
}
.余白 {
    height: 48px;
}
.小余白 {
    height: 14px;
}
.shopinfo-area {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
}
.shopinfo-body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    font-size: 14px;
}
.address, .address以外 {
    box-sizing: border-box;
    flex-grow: 1;
    width: 45%;
}
.紹介文 {
    width: 90%;
    font-size: 14px;
    margin: 18px auto 18px;
}
.下端余白なし {
    margin-bottom: 0px;
}
.小見出し {
    box-sizing: border-box;
    width: 100%;
    font-family: 超極細ゴシック体;
    font-size: 16px;
    margin: 0 auto 4px;
    color: rgba(97, 47, 12, 1);
    border-left: 4px solid rgba(97, 47, 12, 0.7);
    border-bottom: 1px solid rgba(97, 47, 12, 0.7);
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 2px;
}
.小見出し2前テキスト {
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    font-family: 超極細ゴシック体;
    font-size: 12px;
    margin: 0 auto 4px;
    color: rgba(97, 47, 12, 1);
}
.小見出し2 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1;
    width: 100%;
    font-family: 超極細ゴシック体;
    font-size: 16px;
    margin-bottom: 4px;
    color: rgba(97, 47, 12, 1);
}
.小見出し2::before, .小見出し2::after {
    content: "";
    flex-grow: 1;
    height: 1px; /* 線の太さ */
    background: rgba(97, 47, 12, 0.7);; /* 線の色 */
    margin:0 4px 0; /* 文字と線の余白 */
}
.小小見出し {
    box-sizing: border-box;
    width: 100%;
    font-family: 超極細ゴシック体;
    font-size: 14px;
    margin: 0 auto 4px;
}
.左余白1文字 {
    margin-right: 1em;
}
.左右余白 {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto 0;
}
.余白なし {
    margin: 0;
    padding: 0;
}
.注釈 {
    font-size: smaller;
}
.商品紹介 {
    width: 95%;
    margin: auto;
}