img {
    width: 100%;
}
.app-base {
    height: 100%;
}
.app-header {
    box-sizing: border-box;
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 60px;
    padding: 12px;
    background-color: rgba(97, 47, 12, 0.7);
    color: white;
}
.app-header-dummy {
    width: 100%;
    height: 60px;
    background-color: rgb(255, 245, 225);
}
.app-header-center {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0px;
    z-index: 1;
    font-size: 12px;
}
.app-header-ham {
    box-sizing: border-box;
    display: inline-block;
    width: 10%;
    text-align: center;
    position: fixed;
    font-size: 24px;
    z-index: 10;
}
.app-menu {
    background-color: white;
    position: fixed;
    width: 100%;
    transition: all 1s 0s ease;
    text-align: center;
    overflow-y: scroll;
    box-sizing: border-box;
}
.app-body {
    transition: all 1s 0s ease;
}
.app-heading {
    width: 100%;
    margin: auto;
}
.app-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-title {
    font-size: larger;
    font-weight: lighter;
}
.nav-title-bar {
    margin-top: 5px;
    margin-bottom: 10px;
}
.nav-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-item-card {
    height: 50px;
    width: 130px;
    margin: 8px
}
ul {
    list-style: none;
    padding-inline-start: 0px;
    margin: 16px;
}
li {
    margin-bottom: 15px;
}